.Sec{
    
    width: 1220px;
    padding-top:20px;
    padding: 0 100px;
    margin: 0 auto;

}
.Sec-Article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background:rgba(246, 246, 246, 1);
    padding: 50px;
    border-radius: 25px;

}
.Article {
    width: 340px;
    height: 340px;
    position: relative;
    background: #ff6060;
    border-radius: 25px;
    margin-bottom: 50px;
}